.active {
  border-bottom: 1px solid white;
}
.tab {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 4px;
  cursor: pointer;
}

.tab:hover {
  opacity: 0.8;
}

.tabsContainer {
  margin: 12px 0;
}
.homeLink {
  color: aliceblue;
  text-decoration: none;
}
